{% extends 'mj.html.twig' %}

{% block main %}
    <div class="container-fluid px-4">
        <h1 class="mt-4">Combat</h1>
        <div class="row">
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-area me-1"></i>
                        Joueurs
                    </div>
                    <div class="card-body entity-container player-container">
                        <div class="row overflow-x entity-list">
                            {% for player in players %}
                                {% if 'ROLE_MJ' not in player.roles and not player.isFighting %}
                                    {% include 'includes/_player-card.html.twig' with { player: player} %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <input id="pnj-search" class="form-control" placeholder="Rechercher">
                        <i class="fas fa-chart-area me-1"></i>
                        PNJs
                    </div>
                    <div class="card-body entity-container pnj-container">
                        <div class="row overflow-x entity-list">
                            {% for pnj in pnjs %}
                                {% if not pnj.isFighting %}
                                    {% include 'includes/_pnj-card.html.twig' with { pnj: pnj} %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card mb-4 timeline">
                    <div class="card-header">
                        <button class="next-turn btn btn-dark"><i class="bi bi-play-btn"></i></button>
                        <button class="sort-btn btn btn-dark"><i class="bi bi-shuffle"></i></button>
                        <i class="fas fa-chart-area me-1"></i>
                        Timeline
                    </div>
                    <div class="card-body entity-container fight-container">
                        <div class="row overflow-x entity-list" id="timeline">
                            {% for player in players %}
                                {% if 'ROLE_MJ' not in player.roles and player.isFighting %}
                                    {% include 'includes/_player-card.html.twig' with { player: player} %}
                                {% endif %}
                            {% endfor %}
                            {% for pnj in pnjs %}
                                {% if pnj.isFighting %}
                                    {% include 'includes/_pnj-card.html.twig' with { pnj: pnj} %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}