$body: rgb(30,30,30);
$text: rgb(235,235,235);
$card-header: rgb(40,40,40);
$card-body: rgb(35,35,35);
$dark1: rgb(56, 56, 56);
$dark2: rgb(47, 47, 47);
$dark3: rgb(37, 37, 37);
$dark4: rgb(32, 32, 32);
$dark5: rgb(26, 26, 26);
