@import 'colors';
@import 'theme';
@import 'trix';
@import 'dice';

a {
  text-decoration: none!important;
}

body {
  background-color: $body;
}

*, input, .form-control {
  color: $text;
}

input, .form-control, input:active, input:focus, .form-control:active, .form-control:focus, .form-select {
  color: $text;
  background-color: transparent;
}

option {
  background-color: $body;
}

*:-webkit-autofill,
*:-webkit-autofill:hover,
*:-webkit-autofill:focus,
*:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 0 white inset!important;
  box-shadow: 0 0 0 0 white inset!important;
}

.tinyForm {
  width: 300px;
}

#player_edit, #pnj {
  display: flex;
  flex-flow: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

  textarea {
    width: 500px;
    height: 200px;
    max-width: calc(100vw - 50px);
  }
}

table {
  td {
    vertical-align: middle;

    .token {
      max-width: 60px;
      max-height: 60px;
    }
  }
}

.textarea-full {
  width: 100%;
  height: calc(100vh - 260px)!important;
}

.form-full {
  width: 100%;
  height: calc(100vh - 190px);
}

.overflow-x {
  overflow-x: auto;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #141414 #262626;
}

*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #262626;
}

*::-webkit-scrollbar-thumb {
  background-color: #141414;
  border-radius: 10px;
  border: 2px solid #262626;
}

.entity-container {
  height: 271px;
}

.entity-list {
  display: flex;
  flex-flow: nowrap;
  .entity-card {
    width: 200px;

    table {
      font-size: 13px;
    }

    .card-body {
      height: 200px;
      background-color: $dark4;

      h6 {
        font-size: 0.8rem;
        margin-right: 10px;
        margin-bottom: 0;

        &~div {
          display: flex;
        }
      }
    }

    img {
      width: 100%;
    }
  }
}

.playing {
  .card {
    border: 1px solid gold;
    border-radius: 5px;
    box-shadow: 0 0 5px 2px #FFA52B!important;
  }
}

.fight-play {
  display: none;
}

.notify {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1000;
  font-size: 0;
  pointer-events: none;

  #validate {
    color: green;
  }

  #fail {
    color: red;
  }

  i {
    opacity: 0;
    transition: 0.3s;
  }
}

.stat-controls {
  display: grid;
  grid-template-columns: 20px 33px 20px;
  font-size: 14px;
  font-weight: bold;

  &:nth-child(2) {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }

  &:first-child {
    border-top: 1px solid $dark1;
  }

  &:last-child {
    border-bottom: 1px solid $dark1;
  }

  button {
    padding: 0;
    width: 20px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #191919;
    border-radius: 0;
  }

  p {
    margin: auto 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    i {
      position: absolute;
      font-size: 27px;
      filter: brightness(0.8);

      &.mask {
        top: 0;
        left: 0;
        width: 100%;
        height: 0;
        background: #202020;
        filter: brightness(1)!important;
      }
    }

    span {
      position: relative;
      z-index: 1;
      padding: 7px 0;
      text-align: center;
      width: 100%;
      display: block;
      text-shadow: 1px 1px 2px rgb(56, 56, 56);
    }
  }
}

.char-main {
  display: grid;
  grid-template-columns: 1fr 73px;
  align-items: center;
}

.stats {
  margin: 0;
  th, td {
    padding: 0;
    text-align: center;
  }
}

#pnj-search {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 30px;
  width: 150px;
  padding: 0 7px;
  border: none;
  background: #1f1f1f;
}

.hidden {
  display: none;
}

.fight-container {
  .fight-play {
    display: flex;
  }
}

.fight-toggle {
  display: flex;
}

.fight-toggle, .fight-play {
  height: 20px;
  width: 20px;
  padding: 0;
  justify-content: center;
  align-items: center;


  &.hidden {
    display: none
  }

  i {
    font-size: 10px;
    pointer-events: none;
  }
}

.timeline {
  .card-header {
    button {
      position: absolute;
      top: 1px;

      &.sort-btn {
        right: 45px;
      }

      &.next-turn {
        right: 1px;
      }
    }
  }
}