@import 'colors';
@import 'theme';
@import 'trix';
@import 'dice';

* {
  box-sizing: border-box;
}

a {
  text-decoration: none!important;
}

body {
  background-color: $body;
}

*, input, .form-control {
  color: $text;
}

input, .form-control, input:active, input:focus, .form-control:active, .form-control:focus, .form-select {
  color: $text;
  background-color: transparent;
}

main {
  > div {
    padding-top: 77px;
    height: calc(100vh - 125px);
    overflow-y: scroll;
    position: relative;

    h1 {
      margin: 0!important;
      position: absolute;
      top: 13px;
      left: 20px;
      font-weight: 100;
    }
  }
}

option {
  background-color: $body;
}

*:-webkit-autofill,
*:-webkit-autofill:hover,
*:-webkit-autofill:focus,
*:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 0 white inset!important;
  box-shadow: 0 0 0 0 white inset!important;
}

.tinyForm {
  width: 300px;
}

#player_edit, #pnj {
  display: flex;
  flex-flow: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

  textarea {
    width: 500px;
    height: 200px;
    max-width: calc(100vw - 50px);
  }
}

table {
  td {
    vertical-align: middle;

    .token {
      max-width: 60px;
      max-height: 60px;
    }
  }
}

.textarea-full {
  width: 100%;
    height: calc(100vh - 260px)!important;
}

.form-full {
  width: 100%;
  height: 100%;
}

.overflow-x {
  overflow-x: auto;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #141414 #262626;
}

*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #262626;
}

*::-webkit-scrollbar-thumb {
  background-color: #141414;
  border-radius: 10px;
  border: 2px solid #262626;
}

.entity-container {
  height: 271px;
}

#timeline {
  .card {
    cursor: grab;
  }
}

.entity-list {
  display: flex;
  flex-flow: nowrap;
  .entity-card {
    width: 200px;

    table {
      font-size: 13px;
    }

    .card-body {
      height: 200px;
      background-color: $dark4;

      h6 {
        font-size: 0.8rem;
        margin-right: 10px;
        margin-bottom: 0;

        &~div {
          display: flex;
        }
      }
    }

    img {
      width: 100%;
    }
  }
}

.playing {
  .card {
    border: 1px solid gold;
    border-radius: 5px;
    box-shadow: 0 0 5px 2px #FFA52B!important;
  }
}

.fight-play {
  display: none;
}

.notify {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1000;
  font-size: 0;
  pointer-events: none;

  #validate {
    color: green;
  }

  #fail {
    color: red;
  }

  i {
    opacity: 0;
    transition: 0.3s;
  }
}

.stat-controls {
  display: grid;
  grid-template-columns: 20px 33px 20px;
  font-size: 14px;
  font-weight: bold;

  &:nth-child(2) {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }

  &:first-child {
    border-top: 1px solid $dark1;
  }

  &:last-child {
    border-bottom: 1px solid $dark1;
  }

  button {
    padding: 0;
    width: 20px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #191919;
    border-radius: 0;
  }

  p {
    margin: auto 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    i {
      position: absolute;
      font-size: 27px;
      filter: brightness(0.8);

      &.mask {
        top: 0;
        left: 0;
        width: 100%;
        height: 0;
        background: #202020;
        filter: brightness(1)!important;
      }
    }

    span {
      position: relative;
      z-index: 1;
      padding: 7px 0;
      text-align: center;
      width: 100%;
      display: block;
      text-shadow: 1px 1px 2px rgb(56, 56, 56);
    }
  }
}

.char-main {
  display: grid;
  grid-template-columns: 1fr 73px;
  align-items: center;
}

.stats {
  margin: 0;
  th, td {
    padding: 0;
    text-align: center;
  }
}

#pnj-search {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 30px;
  width: 150px;
  padding: 0 7px;
  border: none;
  background: #1f1f1f;
}

.hidden {
  display: none;
}

.fight-container {
  .fight-play {
    display: flex;
  }
}

.fight-toggle {
  display: flex;
}

.fight-toggle, .fight-play {
  height: 20px;
  width: 20px;
  padding: 0;
  justify-content: center;
  align-items: center;


  &.hidden {
    display: none
  }

  i {
    font-size: 10px;
    pointer-events: none;
  }
}

.timeline {
  .card-header {
    button {
      position: absolute;
      top: 1px;

      &.sort-btn {
        right: 45px;
      }

      &.next-turn {
        right: 1px;
      }
    }
  }
}

nav {
  max-width: 100vw;
}

.nav-link.active {
  background-color: $dark1;
}

.input-group-append > button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.table th {
  color: #f0f0f0;
}

.category > div {
  background: rgb(35, 35, 35);
}

.btn-darker, .bg-darker {
  background: #1a1d21;
  color: #fff;
  border: 1px solid #232323;
}

.border-darker {
  border: solid 1px #272727!important;
}

.form-floating label::after {
  background-color: transparent!important;
}

.form-floating label {
  color: #fff!important;
}

.stats td {
  color: #fff;
  opacity: 0.65;
}

.nav-link {
  cursor: pointer;
  user-select: none;
}

.sb-nav-link-icon img {
  filter: invert(1) brightness(0.7);
  width: 14px;
}

.map {
  display: flex;
  align-items: center;

  #map-inner {
    position: relative;
    overflow: hidden;
    min-width: 100px;
    min-height: 100px;

    img {
      width: 100%;
      max-height: calc(100vh - 125px);
    }
  }
}

.map-controls {
  position: absolute;
  top: 0;
  right: 0;
  height: 70px;
  width: 70px;
  button {
    position: absolute;
    z-index: 1;
    border: none;
    border-radius: 50%;
    background-color: #1a1e21;
    transition: 0.2s;

    &:hover {
      background-color: #282e33;
      transform: scale(1.2);
    }

    &#map-edit {
      left: 10px;
      top: 6px;
    }

    &#map-new {
      right: 6px;
      bottom: 10px;
    }
  }
}

.map-controls-bg {
  border-radius: 50%;
  height: 140px;
  width: 140px;
  background-color: rgb(30 30 30 / 90%);
  top: -70px;
  position: absolute;
}

#map-popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: none;
  background: #1e1e1e;
  flex-flow: column;
  max-height: calc(100vh - 125px);
  z-index: 1;
}

#pin-popup {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  backdrop-filter: blur(10px);
  background: #000000a3;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  transition: 0.3s;
  flex-flow: column;

  form {
    max-width: 300px;
  }
}

.map-pin {
  position: absolute;
  font-size: 25px;
  cursor: pointer;
  transition: 0.2s;


  &:hover {
    transform: scale(1.2) translateY(-5%);

    &:after {
      opacity: 1;
      text-shadow: #1a1d21 1px 1px 2px;
    }
  }

  &:after {
    transition: 0.3s;
    content: attr(data-name);
    position: absolute;
    text-shadow: transparent 0 0 0;
    font-size: 1em;
    display: inline-flex;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
  }
}

.music {
  border: 1px solid $dark1;
  border-radius: 5px;

  > * {
    padding: 0.5em;
  }

  > p {
    text-transform: capitalize;
    margin: 0;
    border-left: 1px solid $dark1;
    border-right: 1px solid $dark1;
    width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

#music-track {
  background: #ffffff2b;
  width: 150px;
  height: 7px;
  border-radius: 50px;
  position: relative;

  > #music-bar {
    background: #fff;
    width: 0;
    max-width: 100%;
    height: 100%;
    border-radius: 50px;
    display: block;
    position: absolute;
    overflow-x: hidden;
  }

  > #music-title {
    width: 100%;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: absolute;
    font-size: 0.7em;
    top: -15px;
    text-align: center;
  }
}

#ambiance-selector {
  a {
    i {
      transition: 0.3s;
    }

    &:hover {
      background: rgba(255, 255, 255, 0.2);
    }

    &.active {
      background: rgba(255, 255, 255, 0.4);
      i {
        color: $dark1;
      }
    }
  }
}

.sound-list {
  padding: 0;

  span {
    text-transform: capitalize;
  }

  > li > button {
    width: 200px;
  }
}

#install {
  margin: -20px 0;
}

.sb-sidenav-menu {
  height: calc(100vh - 125px);
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

#ambiance-selector > .btn, #sound-effects > .btn {
  border: 1px solid rgba(255, 255, 255, 0.5)!important;

  &:hover {
    background: rgba(255, 255, 255, 0.2)!important;
  }
}

@keyframes soundFill {
  0% {
    box-shadow: 0px -19px 2px -20px rgba(255, 255, 255, 0.5) inset;
  }

  100% {
    box-shadow: 0px -50px 2px -10px rgba(255, 255, 255, 0.5) inset;
  }
}

@media screen and (max-width: 1200px) {
  .ps-3 {
      padding: 0!important;
  }

  nav.navbar.sb-topnav {
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    > * {
      margin: 0!important;
    }

    .navbar-brand {
      width: auto!important;
    }

    #ambiance-selector > .btn, #sound-effects > .btn {
      padding: 5px;
    }

    #music-track {
      width: 75px;
    }
  }
}

@media screen and (max-width: 800px) {
  nav.navbar.sb-topnav {
    height: 78px;
  }

  .sb-sidenav-menu {
    height: calc(100vh - 147px);
  }

  #layoutSidenav #layoutSidenav_content {
    height: calc(100vh - 79px);
  }

  main > div {
    height: calc(100vh - 148px)!important;
  }
}

@media screen and (max-width: 603px) {
  .col-6 {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  nav.navbar.sb-topnav {
    padding: 0 10px;
  }
}
